
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  padding: 0px;
}

.main-body {
  background-color: #606060;


}
/* Header*/
.main-header {
  display: flex;
  flex-wrap: wrap;



  /* margin-bottom: 6px;
  height:200px;
  padding-bottom: 5px;
  margin:0;
  padding:0;*/
}

.header-bar{
  flex: 100%;
  background-color:lightgray;

}
.header-bar h1{
  color:#000;
  font-size: 60px;
  text-align:left;
  padding-left: 160px;

  margin-top:30px;
  margin-bottom: 20px;
}

/* Animation for the logo */
.header-bar img:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

form.search{
  float: right;
  margin-top: -2%;
  margin-bottom: 1%;
  margin-right: 6%;

}

/* Style the search field */
form.search input[type=text] {
  width: 65%;
  padding: 10px;
  font-size: 17px;
  color: red;
  border: 1px solid darkgray;
  background: #F8F9F9;
  margin-right: -1%;
  border-radius: 25px;

}


/* Style the submit button */
form.search button {
  width: 20%;
  padding: 10px;
  background: #D5D8DC;
  color: white;
  font-size: 17px;
  border: 1px solid darkgrey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-radius: 25px;

}

form.search button:hover {
  background: red;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;

}

.login{
  flex: 10%;
  background-color: #E0E0E0;

}

.login input{
  border-radius:25px;
  padding: 5px;
  border: 1px solid darkgrey;
}
.login button{
  color: white;
  border-radius:25px;
  padding: 5px;
  background-color:#D5D8DC;
  font-weight: bold;
  border: 1px solid darkgrey;
}
.login button:hover {
  background: red;
}

.main-header h2{
  color:#fff;
}

.login p{
  color:#505050;
  text-align:right;
  padding:10px;
  font-weight: bold;
  margin-right: 120px;

}

/* Column container */
.flex-container {  
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px;

}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 15%;
  background-color: #EEEEEE;
  padding: 40px;
  text-transform:uppercase;
  border-top: 2px solid red;


}
.side h2{
  text-align:center;
  color:#fff;
}
.home, .about, .services, .contact {
  background-color: #FFFFFF;
  text-align:center;
  color: #000;
  width: 100%;
  padding: 28px;
  border-radius: 25px;

}

.home a, .about a, .services a, .contact a{
  text-decoration:none;
  color:black;
}

.side a:hover, .side a.current{
  color:#000000;
  border-bottom: 3px solid red;;
  
}
/* Main column */
.main {
  flex: 85%;
  background-color: white;
  padding: 20px;
  background-image: url('images/COVID-19_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.showcase h3{
  text-align:center;
  margin:0;
  padding-bottom:40px;
}
.showcase{

  margin: 150px;
  height:70px;
  background:#C8C8C8;
  color:#fff;
  font-weight: bolder;
  border-radius:90px;
  width: 260px;

}
.showcase a{
  text-decoration:none;
  color:white;
}
.showcase a:hover {
  border-bottom: 3px solid red;
}

/* Footer */
.footer {
  height: 80px;
  background-color: #F9F9F9;
  margin-top: -6px;
  width: 100%;
  padding: 0px;
  padding-top:30px;
  padding-bottom:30px;
  color:#000;
  text-align: center;
  font-weight: bolder;
}
/*About*/

.main2 {
  flex: 85%;
  padding: 50px;
  position:relative;
  background-image: url('images/opaque_covid_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}

.showcase-about{
  width: 260px;
  margin: 90px;
  height:130px;
  background:#EEEEEE;
  border-radius:90px;
  width: 90%;
  opacity:0.8;

}
.main2 h1{
  color: dimgray;
  font-size: 25px;
}

.showcase-about h3{
  text-align:center;
  color: #000;
}

.showcase-about p{
  text-align: center;
  color: #000;
}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*Services*/
.flex-container-services{
  display:flex;
  flex-wrap: wrap;
  margin-bottom: 6px;
}
.main3{
  flex: 85%;
  background-color: white;
  padding: 20px;
  background-image: url('images/COVID-19_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.slide{
  float: left;
  transition: transform .2s;

}

.slide a{
  text-decoration: none;
  color: white;


}
.slide a:hover {
  color: red;
  transform: scale(1.2);
}

.subsection2 h2{
  text-align: left;
  text-decoration-line: underline;
  margin:0;
  padding-bottom:20px;
}

ul, .subsection2{
  padding: 0;
  display: block;
  margin: 24px auto;
  width: 320px;
}

li, .subsection2{

  background-color:	#C8C8C8;
  border: none;
  color: white;
  font-weight: bolder;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  margin: 10px 10px 25px 190px;
  border-radius: 150%;

}


li, .subsection2{
  animation-name: animateIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}


/*Hospitalfinder*/
.description{
  border-style: solid;
}
.description p{

  font-style: italic;
  text-align:center;
}

.metrics {
 display:flex;
 flex-wrap:wrap;
 }

 .chicagometrics{
   flex:100%;
 }
 .localmetrics {
   flex:100%;
 }


/*login_register form*/
.form{
  background-color:#92bde7;
  line-height:1.6;
  padding: 1em;

}

.container-form{
  max-width:500px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;


}
h1{
  color: #000;
  text-align:center;

}

.wrapper{
  box-shadow:0 0 10px 0 rgba(72, 94, 116, 0.7);
  background:#c9e6ff;

}
.wrapper h3{
  text-align:center;
  margin:0 1rem 0;

}
.wrapper>*{
  padding: 1em;
}
.user-form{
  text-align:center;
  display:grid;
  grid-gap:20px;


}
.user-form label{
display: block;


}
.user-form p{
  margin:0;  
}
.user-form button, .user-form input{
  border:1px solid #000;
  box-shadow: chocolate;


}
.user-form button{
  background-color: #92bde7;
  border:0;
  text-transform:uppercase;
  padding:1em;
  border:2px solid #c9e6ff;

}
.user-form button:hover{
  background-color: blue;
  color: #fff;
  outline:0;
  transition: background-color 2s ease-out;
}
.alert{
  text-align:center;
  padding:10px;
  background:#79c879;
  color: #fff;
  margin-bottom:10px;
  display:none;
}
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scaleY(0.6) translateY(-8px);/*scale(),tanslate()- to transform the box height in Y-axis*/
  }
  
  100% {
    opacity: 1;
  }
}
/* Contact Form*/

.contact-section {
  flex: 85%;
  background: #f5f5f5;
  padding: 20px 0 20px 0;
  text-align: center;
  margin: 0;
}


contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 880px;
  height: 450px;
  background: rgba(0, 0, 0, 0.32);
  text-align: left;
  padding: 10px 0;
}
.contact-subject,
.contact-content {
  width: 80%;
  margin: 0 auto;
  border-width: thin;
  border-radius: 12px;

}
contact-form label {
  display: block;
  padding: 0;
  margin: 0;

}

.contact-id {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 80%;
  margin: 0 auto;
}
.contact-name, .contact-email {
  display: inline-block;
  width: 45%;

}
contact-form label {
  display: block;
  padding: 0;
  margin: 0;

}
input[name="email"],
input[name="name"] {
  width: 100%;
  height: 40px;
  border-width: thin;
  border-radius: 12px;

}

.contact-subject {
  height: 62px;


}

input[name="subject"] {
  width: 100%;
  height: 40px;
  border-width: thin;
  border-radius: 12px;
}

.contact-content {

}
textarea {
  width: 100%;
  resize: none;
  border-width: thin;
  border-radius: 12px;
}
.contact-content button {
  margin: 0;
  float: right;
  background: #D5D8DC;
  padding: 8px 77px;
  transition: all;
  border-width: thin;
  border-radius: 12px;
  font-size: 20px;
  color: white;
  font-weight: bolder;

}
.contact-content button:hover {
   background: red;

 }
/* remove outline from select text input areas */
input:focus, textarea:focus, select:focus, button:focus{
  outline: none;
}
/*COVID-19 Metrics Page */
#main-metrics{
  background-image:url("Images/opaque_covid_image.jpg");
}
.main-header h1{
  color:#606060;
  text-transform: uppercase;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 10px;
}
table {

  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}
thead{
  background-color: black;
  opacity: 0.8;
  font-weight: bolder;
  text-transform: uppercase;
}

td, th {
  /*border: 1px solid #dddddd;*/
  border-radius: 20px;
  text-align: center;
  padding: 8px;
  background-color: #606060;
  opacity: 0.6;
  color: white;
  font-weight: bold;




}

.center button{
  border-radius: 25px;
  padding: 10px;
  border: 1px solid dimgrey;
  background-color: darkgray;
  color: #FFFFFF;
  font-weight: bold;

}
.center button:hover {
  background: red;

}



/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row{
    flex-direction: column;

  }
  .login{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:20px;
    width: 50px;


  }
  .login button{
    margin: 10px;
  }
  .login p{
    text-align:left;
  }
}
